<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="World of food">
    <meta name="theme-color" content="#F1EEE9"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="manifest" href="manifest.json">
    <script src="https://use.fontawesome.com/b070c8f1df.js"></script>
    <title>Hallo</title>
</head>
<body>
  <a href="#mainContent" class="skip-link">Going to Content</a>
  <header class="app-bar">
    <div class="app-bar__menu">
      <button id="hamburgerButton" tabindex="0">☰</button>
    </div>
    <div class="app-bar__brand">
      <h1><a href="/">Amigo's</a></h1>
    </div>
    <nav id="navigationDrawer" class="app-bar__navigation">
      <ul>
        <li class="nav-item"><a href="#/list-food">Home</a></li>
        <li class="nav-item"><a href="#/favorite">Favorite</a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/kennedy-musyaffa-28b552231/" target="_blank" rel="noreferrer">About</a></li>
      </ul>
    </nav>
  </header>
  <main id="mainContent" tabindex="0"></main>
  <footer>
    <footer-amigos></footer-amigos>
  </footer>
</body>
</html>